.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

app-input {
  margin-bottom: 10px;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3a3f47;
}
