<div class="app-header">
  <div class="header-left">
    <button class="hamburger-btn" (click)="onToggleSidebar()" title="Toggle Sidebar">
      <mat-icon *ngIf="!isSidebarOpen">menu</mat-icon>
      <mat-icon *ngIf="isSidebarOpen">close</mat-icon>
    </button>
    <div class="header-logo">BCM</div>
    <div class="header-title">Business Card Manager</div>
  </div>
  
  <div class="header-right">
    <app-button [label]="'Logout'" [type]="'button'" [class]="'logout-btn'" [icon]="'fa fa-sign-out'" [disabled]="false" (click)="logout()"></app-button>
  </div>
</div>
